<h3><%= @user.name %></h3>
<%= image_tag @user.get_profile_image(100,100) %>

<!--新規投稿フォーム-->

<h1>Usersの投稿一覧</h1>
<% @books.each do |books| %>
<p>Title
<%= books.title %>
</p>
<p>Opibion
<%= books.body %>
</p>
<% end %>